ul{
  list-style-type:none;
}
a{
  text-decoration: none;
  color:black;
  font-family:sans-serif;
  font-weight:bold;
}
span{
  color:gray;
  font-family:sans-serif;
  font-weight:bold;
}
.image-caption > ul{
  padding-left: 5px;
}
body > ul > li > div > span{
  padding-right:110px;
}
body > ul > li > div > span::before{
  content:"#";
}
body > ul > li:nth-child(2) > div > span{
  padding-right:20px;
}
body > ul > li:nth-child(3) > div > span{
  padding-right:92px;
}
body > ul > li:nth-child(1) > div{
  margin-top:-20px;
}
body > ul > li:nth-child(2) > div{
  margin-top:-20px;
}
body > ul > li:nth-child(3) > div{
  margin-top:-20px;
}
.octocat > a > img{
  width: 301px;
  height: 301px;
  border:1px solid lightgray;
  border-radius:1%;
  margin-right:25px;
  margin-bottom:5px;
  float:left;
}
.image-footer{
  border-bottom: 1px solid lightgray;
  display:inline-block;
  top:350px;
  position:absolute;
  margin:10px 25px 25px -325px;
}
.image-footer::before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-top-color: lightgray;
    position: absolute;
    right: 6px;
    top: -11px;
}
.image-footer > div{
  display:inline;
}
.authors{
  float:right;
  display:inline;
}
body > ul > li:nth-child(1) > div > div > ul > li > a > img{
  top:10px;
}
.authors img{
  width:25px;
  height:25px;
  border: 0px;
  border-radius:25%;
  margin: 1px;
}
